$globalColorOne: #ffffff;
$globalColorTwo: #52BBA8;
$globalColorThree: #000000;
$globalColorFour: #474747;
$globalColorFive: #B7B7B7;
$globalColorSix: #E5F3FB;
$globalColorSeven: #E8E5F3;



$globalFontFamilyOne: new york, sans-serif;


$font_size1: 12px;
$font_size2: 14px;
$font_size3: 16px;
$font_size4: 18px;
$font_size5: 20px;

$veryBigWidth: 3000px;
$bigWidth: 800px;
$normalWidth: 600px;
$littleWidth: 400px;
$veryLittleWidth: 200px;