$globalColorOne: white;
$globalColorTwo: #52BBA8;
$globalColorThree: black;
$globalColorFive: #474747;
$globalColorSix: #B7B7B7;
/* $globalColorSeven: #E8D7F3;
$globalColorEight: #C0E1FB; */
$globalColorSeven: white;
$globalColorEight: white;

$globalFontFamilyOne: new york, sans-serif;

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	width:100%;
	background-color: greenyellow;
}
header {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 350px;
}
header a, header span,header h1 ,header p,header button {
	color: $globalColorOne;
}
header a ,header span,header h1 ,header button {
	font-family: $globalFontFamilyOne;
	text-transform: uppercase;
	font-weight: bold;
}
#headerImage {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 350px;
}
header p {
	margin: 20px;
	font-size: 40px;
	font-family: brush script mt ,matura mt script capitals;
}
.headerHref {
	margin-bottom: 30px;
	display: flex;
	flex-direction: row;
	width: 35%;
	justify-content: space-between;
}
.headerHref a {
	font-size: 12px;
}
.headerHref a:hover {
	color: $globalColorTwo;
	box-shadow: -2px 2px 10px 1px;
}
header h1 {
	font-size: 55px;
	margin-bottom: 17px;
}
.blockWithSpan {
	font-size: 12px;
	display: flex;
	margin-bottom: 32px;
	width: 70%;
	justify-content: center;
	align-items: center;
}
.blockWithSpan span {
	margin: 0 10px;
}
.blockWithSpan hr {
	width: 60px;
	height: 1px;
	border: 0px solid $globalColorFive;
	background-color: $globalColorFive;
}
header button {
	background-color: $globalColorTwo;
	width: 200px;
	font-size: 13px;
	padding: 13px 0px;
	border: 0px;
	border-radius: 100px;
	cursor: pointer;
}
header button:hover {
	color: $globalColorTwo;
	background-color: $globalColorOne;
}


/* ................. WRAPPER............... */


#wrapper{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#wrapper span{
	text-transform: uppercase;
	font-weight: bold;
	font-family: $globalFontFamilyOne;
	font-size: 14px;
	color: $globalColorThree;
}
#wrapper p{
	color: $globalColorFive;
	font-family: $globalFontFamilyOne;
	font-size: 12px;
	line-height: 20px;
}
#wrapper button{
	border: 0px;
	padding: 10px 20px;
	border-radius: 50px;
	cursor: pointer;
}


/* .........GLOBAL  CHANGE............ */


.blockWithThreeIkon,
.blockWithNews ,
.blockWithHref,
.blockWithTwoIkon,
.bottomBlock{
	display: flex;
	justify-content:space-between;
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
}


/*.......blockWithThreeIkon........... */


.blockWithThreeIkon{
	background-color: $globalColorSeven;
}
.blockWithThreeIkon div{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
/* 	border: 1px solid black; */
	width: 25%;
}
.blockWithThreeIkon i{
	color: $globalColorTwo;
	margin-top: 44px;
	margin-bottom: 15px;
}
.blWithThreeIkonHr{
	width: 70%;
	margin-top: 15px;
	margin-bottom: 20px;
	height: 2px;
	background-color: $globalColorSix;
	border: 0px solid;
}
.blockWithThreeIkon p {
	margin-bottom: 30px;
}


/* ...... blockWithNews ................*/


.blockWithNews{
	background-color: $globalColorEight;
}
.blockWithNews div{
	width: 45%;
/* 	border: 1px solid black; */
}
.blockWithNews img{
	margin-top: 50px;
	width: 100%;
	min-height: 150px;
	margin-bottom: 20px;
}
.blockWithNews span{
}
.blockWithNews p{
	margin-top: 36px;
	margin-bottom: 20px;
}
.blockWithNews button{
	margin-bottom: 40px;
	color: $globalColorOne;
	background-color: $globalColorTwo;
}
.blockWithNews button:hover{
	color: $globalColorTwo;
	background-color: $globalColorOne;
}


/* ......CENTER BLOCK ................*/


.centerBlock{
	background-color: $globalColorSeven;
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
}
.fa-life-ring{
	color: $globalColorSix;
	margin-top: 50px;
	margin-right: 15px;
	margin-bottom: 15px;
}
.centerBlock hr{
	margin-bottom: 20px;
	height: 1px;
	border: 0px;
	background: linear-gradient(to right, black ,transparent, white);
}
.centerBlock p{
	margin-bottom: 30px;
}
.centerBlock button{
	margin-bottom: 30px;
	background-color: $globalColorSix;
	color: $globalColorOne;
}

/* ......blockWithHref....... */

.blockWithHref{
	background-color: $globalColorEight;
}
.blockWithHref div{
	width:30%;
	/* border: 1px solid black; */
}
.blockWithHref img{
	margin-top: 50px;
	width: 100%;
	margin-bottom: 20px;
}
.blockWithHref p{
	margin-top: 30px;
	margin-bottom: 19px;
}
.blockWithHref a{
	color: $globalColorTwo;
	margin-bottom: 14px;
	padding-right: 20px;
}
.fa-angle-right{
	margin-left: -10px;
	color: $globalColorTwo;
	margin-bottom: 40px;
}

/*....blockWithTwoIkon........ */
.blockWithTwoIkon{
	background-color: $globalColorSeven;
}
.blockWithTwoIkon div{
	width: 45%;
	/* border: 1px solid black; */
}
.blockWithTwoIkon i{
	margin: 30px 10px 15px 0px;
	color: $globalColorSix;
}
.blockWithTwoIkon hr{
	margin-bottom: 25px;
	height: 1px;
	border: 0px;
	background: linear-gradient(to right, black ,transparent, white);
}
.blockWithTwoIkon button{
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: $globalColorTwo;
	color:  $globalColorOne;
}
.blockWithTwoIkon button:hover{
	color: $globalColorTwo;
	background-color: $globalColorOne;
}

/*........... bottomBlock.......... */
.bottomBlock{
	background-color: $globalColorEight;
}
.bottomBlock div{
	padding: 50px 0 50px 0;
	width: 47%;
	/* border: 1px solid black; */
}
.bottomBlock img{
	width: 100%;
}
.bottomBlock p{
	margin: 20px 0 25px 0;
}
.bottomBlock button{
	background-color: $globalColorSix;
	color: $globalColorOne;
}

/* FOOTER.................. */
footer{
	color: $globalColorOne;
	background-color: $globalColorTwo;
}

.footerBlockTop{
	width: 50%;
   padding: 35px 25% 0 25%;
	text-align: center;
}
.footerBlockTop i {
	margin-right: 4px;
}
.footerBlockTop span {
	text-transform: uppercase;
	font-family: $globalFontFamilyOne;
}
.footerBlockTop hr {
	width: 80%;
	margin: 20px 10%;
	height: 1px;
	background-color: $globalColorSix;
	border: 0px;
}
.footerBlockBottom{
	width: 80%;
	padding: 35px 10% 60px 10%;
	display: flex;
	justify-content: space-between;
	font-size: 25px;
}
.footerBlockBottom1{
	margin-top: 2px;
	font-family: brush script mt;
}
.footerBlockBottom2{
	font-family: comic sans ms;
}
.footerBlockBottom3{
	font-family: candara;
	margin-top: 2px;
}
.footerBlockBottom4{
	font-family: arial black;
}

/* underFooter .................*/
#underFooter{
	display: flex;
	justify-content: space-between;
	width: 80%;
	background-color: white;
	padding: 25px 10%;
	font-size: 13px;
	color: $globalColorSix;
}
#underFooter div{
	display:flex;
}
.fa-copyright{
	color: $globalColorFive;
	margin: 0 5px;
}
#underFooter span {
	color: $globalColorFive;
}
.fa-google-plus{
}
.fa-facebook{
	margin-left: 15px;
}
.fa-twitter{
	margin-left: 15px;
}